<!-- <p>menu works!</p> -->
<!-- <p>{{ firstName }} {{ lastName }}</p> -->
<!-- <p>{{a}} {{b}} {{a+' '+b}} {{a+b}} </p> -->

<!-- 
<div class="container">  interpolation and property binding

    <img [src]="logo"><br/>
    <a role="button" class="btn btn-primary" [href]="google">Click here </a><br/><br/>
    <img [src]="logo" width="{{width}}" height="{{height}}"><br/><br/>
    <img [src]="logo" width="{{width+100}}" height="{{height+200}}"><br/><br/>
    <img [src]="logo" [width]="width" [height]="height"><br/><br/>
    <button type="button" class="btn btn-success" (click)="sayHello()">Click Here</button>
    <input type="text" class="form-control" placeholder="Your name here" (change)="log($event)"> 
</div> -->
<!-- 
<div class="container">  event binding
    <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" class="form-control" required name="name" [value]="name">
    </div>
      <button class="btn btn-success" type="button" (click)="changeText()">Submit</button>
</div> -->
<!-- 
<div class="container"> //two way binding
    <input  type="text" 
            class="form-control" 
            placeholder="Your name here"
            [(ngModel)]="name"> 
    <h1>{{ name }}</h1>

</div> -->
<!-- <div class="container mt-3"> // m-margin t-top 3-size  
    <div class="form-row"> 
      <div class="form-group col-sm-3"> 
        <input type="number" class="form-control" placeholder="First Number" [(ngModel)]="num1">
      </div>
  
      <div class="form-group col-sm-3">
        <input type="number" class="form-control" placeholder="Second Number" [(ngModel)]="num2">
      </div>
  
      <div class="form-group col-sm-3">
        <input type="number" class="form-control" placeholder="Sum" [(ngModel)]="sum1">
      </div>
      <button class="btn btn-secondary mr-3" (click)="clear1()">Clear</button>
      <button class="btn btn-primary" (click)="add1()">Add</button>
    </div>`
  
  
  <p class="mt-3">The following form does not require the Add button. It displays the output as the input changes.</p>
  
  
    <div class="form-row">
      <div class="form-group col-sm-3">
        <input type="number" class="form-control" placeholder="First Number" [(ngModel)]="num3" (input)="add2()">
      </div>
  
      <div class="form-group col-sm-3">
        <input type="number" class="form-control" placeholder="Second Number" [(ngModel)]="num4" (input)="add2()">
      </div>
  
      <div class="form-group col-sm-3">
        <input type="number" class="form-control" placeholder="Sum" [(ngModel)]="sum2">
      </div>
      <button class="btn btn-secondary mr-3" (click)="clear2()">Clear</button>
       <button class="btn btn-primary" (click)="add()">Add</button> 
    </div>
  
  </div>
   -->
<!-- <div class="container" >
  <a  role="button" 
      class="btn btn-primary"
      [href]="google"
      *ngIf="shouldDisplay()">
    Go to Google</a>

    <button type="button"
            class="btn btn-success"
            [disabled]="disableMyButton"
            (click)="toggleGoogleButton()">
          Toggle Button</button>

    <input type="text" class="form-control" placeholder="Enter name" [(ngModel)]="name">
</div> -->
<!-- <div class="container">

  <ul class="list-group">
    <li class="list-group-item">{{ fruits[0] }}</li>
    <li class="list-group-item">{{ fruits[1] }}</li>
    <li class="list-group-item">{{ fruits[2] }}</li>
    <li class="list-group-item">{{ fruits[3] }}</li>
    <li class="list-group-item">{{ fruits[4] }}</li>
  </ul>
  <br/>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let i of fruits; let x=index">{{ x+1 }} - {{ i }}</li>
  </ul>
</div> -->
 <!-- <div class="container">
  <br/>
  <ul class="list-group">
    <li class="list-group-item" 
        *ngFor="let i of people"
        [ngSwitch]="i.country">

        <div  class="text-primary"
              *ngSwitchCase="'IN'"> {{ i.name }} - {{ i.country }}</div>

        <div  class="text-danger"
              *ngSwitchCase="'US'"> {{ i.name }} - {{ i.country }}</div>  

        <div  class="text-success"
              *ngSwitchCase="'UK'"> {{ i.name }} - {{ i.country }}</div>

        <div  class="text-warning"
              *ngSwitchCase="'AU'"> {{ i.name }} - {{ i.country }}</div>

        <div  class="text-dark"
              *ngSwitchDefault    > {{ i.name }} - {{ i.country }}</div>
    </li>
  </ul>
</div>  -->
 <!-- <div class="container">
  <br/>
  <ul class="list-group">
    <li class="list-group-item" 
        *ngFor="let i of people">

        <div [ngClass] = "{
          'text-primary' : i.country == 'IN',
          'text-danger' : i.country == 'AU',
          'text-success' : i.country == 'US',
          'text-info' : i.country == 'UK'
                          }"
             [ngStyle] = "{
               'font-size' : getTextSize(i),
               'text-decoration' : 'underline'
             }" > {{i.name}} - {{i.country}}</div>

        
    </li>
  </ul>
</div>  -->
<!-- <div class="container ">
  <div class="row">
    <div class="col-12 border border-success">12</div>
  </div>
  
</div>

<div class="container ">
  <div class="row">
    <div class="col-6 border border-primary">6</div>
    <div class="col-6 border border-primary">6</div>
  </div>
</div>

<div class="container ">
  <div class="row">
    <div class="col-4 border border-dark">4</div>
    <div class="col-4 border border-dark">4</div>
    <div class="col-4 border border-dark">4</div>
  </div>
</div>

<div class="container ">
  <div class="row">
    <div class="col-3 border border-success">3</div>
    <div class="col-3 border border-success">3</div>
    <div class="col-3 border border-success">3</div>
    <div class="col-3 border border-success">3</div>
  </div>
</div>

<div class="container ">
  <div class="row">
    <div class="col-2 border border-danger" style="background-color: blue; height: 50px;">Hhhhh<br/>H<br/></div>
    <div class="col-2 border border-danger" style="background-color: brown; height: 50px;"></div>
    <div class="col-2 border border-danger" style="background-color: green; height: 50px;"></div>
    <div class="col-2 border border-danger" style="background-color: purple; height: 50px;"></div>
    <div class="col-2 border border-danger" style="background-color: violet; height: 50px;"></div>
    <div class="col-2 border border-danger" style="background-color: blueviolet; height: 50px;"></div>
  </div>
</div>
<br/>
<div class="container ">
  <div class="row">
    <div class="col s2 border border-danger">2</div>
    <div class="col s2 border border-danger">2</div>
    <div class="col s2 border border-danger">2</div>
    <div class="col s2 border border-danger">2</div>
    <div class="col s2 border border-danger">2</div>
    <div class="col s2 border border-danger">2</div>
  </div>
</div>
<br/>
<div class="container ">
  <div class="row">
    <div class="col-2 border border-danger">2</div>
    <div class="col-2 border border-danger">2</div>
    <div class="col-2 border border-danger">2</div>
    <div class="col-2 border border-danger">2</div>
    <div class="col-2 border border-danger">2</div>
    <div class="col-2 border border-danger">2</div>
  </div>
</div> -->
<!-- <div class="form-row">
  <div class="form-group col-sm-3">
<label>Celsius: </label>
<input type="number" class="large" data-test-id="celsius-input" [(ngModel)]="celnum" (input)="c2f()" /><br>
celnum{{celnum}} <br>
fahnum{{fahnum}} <br>
  </div>

  <div class="form-group col-sm-3">
<label>Fahrenheit: </label>
<input type="number" class="large" data-test-id="fahrenheit-input" [(ngModel)]="fahnum" (input)="f2c()" />
  </div>

</div>
<br/> -->

